*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}

body {
  margin: 0;
  --color-text: #fff;
  --color-bg: #191818;
  --color-link: #484848;
  --color-link-hover: #fff;
  --color-menu: #fff;
  --color-menu-hover: #2a2727;
  --color-deco: linear-gradient(
    90deg,
    rgb(225, 16, 250) 0%,
    rgba(128, 29, 253, 1) 50%
  );
  --font-menu: sans-serif;
  --font-weight-menu: 600;
  --ttransfrom-menu: uppercase;
  --thickness-deco: 30px;
  font-family: Helvetica, Arial,
    sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

main {
  padding: 30vh 5rem 20vh;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.menu__link {
  padding-bottom: 0.5rem;
  margin-bottom: 2.5rem;
  font-size: 6rem;
  font-weight: var(--font-weight-menu);
  /* font-family: var(--font-menu); */
  position: relative;
  line-height: 1;
  color: var(--color-menu);
  text-transform: var(--ttransfrom-menu);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__link:hover {
  color: var(--color-menu-hover);
  -webkit-text-fill-color: var(--color-menu-hover);
  text-fill-color: var(--color-menu-hover);
}

.menu__home {
  font-size: 2rem;
}

.menu__link-inner {
  display: block;
  position: relative;
  outline: 100px solid transparent;
}

.menu__link-deco {
  outline: 120px solid transparent;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.menu--line .menu__link-deco,
.menu--linethrough .menu__link-deco {
  bottom: 0;
  left: 0;
  height: var(--thickness-deco);
  width: 100%;
  background: var(--color-deco);
}

.menu--linethrough .menu__link-deco {
  bottom: calc(50% - (var(--thickness-deco) / 2));
}

.menu__link:hover .menu__link-deco {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
